.loginPage{
    background-color: rgb(243, 245, 247);
}

.navbar{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem ;
    background-color: rgb(243, 245, 247);
}

.navbarContent{
    margin-top: 1rem;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.mainTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(243, 245, 247);
    margin-top: 5rem;
    height: 10rem;
    margin-bottom: 3rem;
}

.mainTitle h2{
    padding-left: 4%;
    margin: auto 0;
    height: 100%;
    font-size: 4em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #b43434;
  }
