.loginPage{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 245, 247);
}

.navbar{
    margin-bottom: 1rem ;
    background-color: rgb(243, 245, 247);
}

.navbarContent{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* vertical-align: middle;
    justify-content: center;
    align-content: center; */
}

.logoContent{
    max-width: 50%;
    display: flex;
    flex-direction: row;
}
/* .mainTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(243, 245, 247);
    margin-top: 5rem;
    height: 10rem;
    margin-bottom: 3rem;
}

.mainTitle h2{
    padding-left: 4%;
    margin: auto 0;
    height: 100%;
    font-size: 4em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #b43434;
} */

.contentPage{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 22rem;
}

.contentPage h1{
    font-size: 12vw;
    line-height: 12vw;
    margin-top:2rem;
    margin-bottom: 10rem;
    margin: 20px 0;
} 
.subtext{
    font-size: 5vw;
    line-height: 5vw;
    margin-bottom: 3rem;
}
.contentPage img{
    border-radius: 0.5rem;
    max-width:100%;
}
.container{
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        padding-left: 50px;
        padding-right: 50px;
}

.content1{
    width: 100%;
}

/* @media (min-width: 768px){
    .contentPage img{
        max-width: calc(100% + 20px);
        height:auto;
    }
    .content1{
        max-width: 50%;
    }
    .demo-img{
        max-width: 50%;
    }
    .page-container{
        max-width: 600px;
    }
} */
@media(max-width:500px){

}
@media (min-width: 992px)
{
    .contentPage img{
        border-radius: 0.5rem;
        max-width: 100%;
        margin-left: 20px;
        height:auto;
    }
    .contentPage h1{
        font-size: 60px;
        line-height: 70px;
        margin-right: 20px;
        text-align: left;
    }
    .content1{
        max-width: 50%;
    }
    .demo-img{
        max-width: 50%;
    }
    .container{
        max-width: 900px;
    }
    .subtext{
        font-size: 18px;
        line-height: 28px;
        text-align: left;
    }
}


@media (min-width: 1100px)
{
    .contentPage h1{
        font-size: 70px;
        line-height: 84px;
        padding-right: 20px;
        text-align: left;
    }
    .container{
        max-width: 1000px;
    }
}

@media (min-width: 1330px){
    .contentPage h1{
        font-size: 81px;
        line-height: 89px;
        padding-right: 20px;
        text-align: left;
    }
    .container{
        max-width: 1340px;
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (min-width: 1630px){
    .container{
        max-width: 1640px;
        padding-left: 120px;
        padding-right: 120px;
    }
}