.button-btn-lg{
    height: 60px;
}

.sv_main .sv_body {
    border-color: #b43434
} 

.sv_main input[type=button] {
    background-color: #b43434;
    color: 'white';
    font-size: 1rem;
    padding: 1;
    border-radius: 10px;
}

.sv_main input[type=button]:hover {
    background-color: #b36464;
}

.sv_main input[type=button]:focus {
    background-color: #b36464;
}