
  @media(max-width:400px){
    .toDoList{
      margin-left: calc(50% - 40vw);
      margin-right: calc(50% - 40vw);
    }
  }

  @media(max-width:1053px){
    .toDoList{
      margin-left: calc(50% - 180px);
      margin-right: calc(50% - 180px);
      position: relative;
      left: 3.5rem;
      align-items: center;
      justify-content: center;
      width: 15rem;
    }
  }
