.custom-title-class{
    background-color: #b43434;
}

.welcomeMsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:1053px){
    .welcome-text{
        padding-left: 10vw;
        padding-right: 10vw;
    }
  }
