.custom-title-class{
    background-color: #b43434;
}

.welcomeMsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    /* @media(max-width:1357px){
        .welcomeMsg{
            padding-bottom: 3rem;
        } */
    /* margin-left: calc(50% - 180px);
    margin-right: calc(50% - 180px); */
